*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    margin-bottom: 40px;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom:50px;
}

.card:hover{
    box-shadow: 0 10px 10px #24292e;
    
}
.card-img-top{
    height: 150px;
    object-fit: cover;
}

footer{
    background: #e9e9e9;
    width: 100%;
}

.footer-copyright{
    background: #dbdbdb;
}

.redes-sociales{
    font-size: 40px;
    display: inline-block;
}

.boton-linkedin{
    font-size: 30px;
    color:#0077B5;
    vertical-align: middle;
    transition: all ease-in-out .5s;
    margin-right: 5px;
}

.boton-correo{
    font-size: 30px;
    color:#c71610;
    vertical-align: middle;
    transition: all ease-in-out .5s;
    margin-right: 5px;
}

.boton-git{
    font-size: 30px;
    color: #24292e;
    vertical-align: middle;
    transition: all ease-in-out .5s;
    margin-right: 5px;
}

.boton-face{
    color: #3b5998; 
    transition: all ease-in-out .5s;
}

.boton-tuit{
    color: #00acee;
    transition: all ease-in-out .5s;
    
}

.boton-you{
    color: #c4302b;
    transition: all ease-in-out .5s;
}